## MySQL Connection Setup

This code establishes a connection to a MySQL database using `mysql.connector`.

1. **Import Library**: Imports `mysql.connector` as `connector`.

2. **Connection Parameters**: Specifies user, password, host, and port.

3. **Connection Establishment**: Connects to the database using the parameters.

4. **Print Statement**: Confirms successful connection definition.

In [ ]:
import mysql.connector as connector

connection = connector.connect(user="root", password="147258369", host="localhost", port="3306")
print ("connection defined")

connection defined

## Creating a Cursor Object

This line of code creates a cursor object to interact with the MySQL database.

In [ ]:
cursor = connection.cursor()

## Database Operations

These lines execute SQL statements to manage the database.

1. **Drop Database (If Exists)**:
    - Drops the database "TheRestaurant" if it exists.

2. **Create Database**:
    - Creates a database named "TheRestaurant".

In [ ]:

cursor.execute("DROP DATABASE IF EXISTS TheRestaurant;")
cursor.execute("CREATE DATABASE TheRestaurant")

## Showing Databases

This code fetches and prints the list of databases.

1. **Execute Query**:
    - Executes an SQL query to retrieve databases.

2. **Fetch and Print**:
    - Fetches and prints the list of databases.

In [ ]:
# Execute the SQL query to show databases
cursor.execute("SHOW DATABASES")

# Fetch all rows (databases) from the result set
databases = cursor.fetchall()

# Print the list of databases
print("List of databases:")
for database in databases:
    print(database[0])

List of databases:
information_schema
littellemondb
little_lemon_db
mydb
mysql
performance_schema
sys
test
therestaurant
week2tasks

In [ ]:
cursor.close()
connection.close()

## Closing and Reconnecting

This code closes the current cursor and connection, then establishes a new connection to the database "TheRestaurant".

1. **Close Cursor and Connection**:
    - Closes the cursor and connection to the previous database.

2. **Establish New Connection**:

    - Establishes a new connection to the MySQL server with updated parameters, including the database "TheRestaurant".

In [ ]:
connection2 = connector.connect(user="root", password="147258369", host="localhost", port="3306",database="TheRestaurant")
print ("connection2 defined")

connection2 defined

## Creating Tables in TheRestaurant Database

This code creates tables for menus, menu items, customers, and orders in the "TheRestaurant" database.

In [ ]:
cursor = connection2.cursor()

# Define the SQL commands to create tables
sql_commands = [
    """
    CREATE TABLE Menus (
        MenuID INT AUTO_INCREMENT PRIMARY KEY,
        MenuName VARCHAR(255) NOT NULL,
        MenuItemID INT
    )
    """,
    """
    CREATE TABLE MenuItems (
        MenuItemID INT AUTO_INCREMENT PRIMARY KEY,
        MenuID INT,
        ItemName VARCHAR(255) NOT NULL,
        Price DECIMAL(10, 2) NOT NULL,
        FOREIGN KEY (MenuID) REFERENCES Menus(MenuID)
    )
    """,
    """
    CREATE TABLE Customers (
        CustomerID INT AUTO_INCREMENT PRIMARY KEY,
        Fullname VARCHAR(255) NOT NULL,
        Contact VARCHAR(255) NOT NULL,
        Email VARCHAR(255) NOT NULL
    )
    """,
    """
CREATE TABLE Orders (
    OrderID INT AUTO_INCREMENT PRIMARY KEY,
    CustomerID INT,
    Totalprice DECIMAL(10, 2) NOT NULL,
    MenuID INT,
    Quantity INT NOT NULL DEFAULT 1,
    FOREIGN KEY (CustomerID) REFERENCES Customers(CustomerID),
    FOREIGN KEY (MenuID) REFERENCES Menus(MenuID)
);

    """
]



# Execute each SQL command
for sql_command in sql_commands:
    cursor.execute(sql_command)

# Commit the changes
connection2.commit()

## Retrieving Tables in TheRestaurant Database

This section of code executes a SQL command to fetch all tables from the "TheRestaurant" database. It then prints the list of tables retrieved.

In [ ]:
cursor.execute("SHOW TABLES")

# Fetch all rows (tables) from the result set
tables = cursor.fetchall()

# Print the list of tables
print("Tables in TheRestaurant database:")
for table in tables:
    print(table[0])

Tables in TheRestaurant database:
customers
menuitems
menus
orders

## Inserting Data into Tables

This code inserts data into various tables within the "TheRestaurant" database.

- **Menus Table**:
  - Inserts menu names along with corresponding menu item IDs.

- **MenuItems Table**:
  - Inserts menu IDs, item names, and prices.

- **Customers Table**:
  - Inserts customer details: full name, contact, and email.

- **Orders Table**:
  - Inserts order details: customer ID, total price, quantity, and menu ID.

After all data insertion operations, the changes are committed to the database.

In [ ]:
# Insert data into the Menus table
menus_data = [
    ("Menu 1", 1),
    ("Menu 2", 2),
    ("Menu 3", 3),
    ("Menu 4", 4),
    ("Menu 5", 5)
]
menu_insert_query = "INSERT INTO Menus (MenuName, MenuItemID) VALUES (%s, %s)"
cursor.executemany(menu_insert_query, menus_data)

# Insert data into the MenuItems table
menu_items_data = [
    (1, "Item 1", 10.99),
    (1, "Item 2", 8.99),
    (2, "Item 3", 12.99),
    (2, "Item 4", 9.99),
    (3, "Item 5", 11.99),
    (3, "Item 6", 13.99),
    (4, "Item 7", 14.99),
    (4, "Item 8", 15.99),
    (5, "Item 9", 16.99),
    (5, "Item 10", 17.99)
]
menu_items_insert_query = "INSERT INTO MenuItems (MenuID, ItemName, Price) VALUES (%s, %s, %s)"
cursor.executemany(menu_items_insert_query, menu_items_data)

# Insert data into the Customers table
customers_data = [
    ("John Doe", "1234567890", "john@example.com"),
    ("Jane Smith", "9876543210", "jane@example.com"),
    ("Michael Johnson", "5555555555", "michael@example.com"),
    ("Emily Brown", "9999999999", "emily@example.com"),
    ("Daniel Williams", "7777777777", "daniel@example.com")
]
customers_insert_query = "INSERT INTO Customers (Fullname, Contact, Email) VALUES (%s, %s, %s)"
cursor.executemany(customers_insert_query, customers_data)

# Insert data into the Orders table
orders_data = [
 (1, 23.99, 1, 2),
(2, 35.99, 2, 3),
(3, 45.99, 3, 4),
(4, 27.99, 4, 2),
(5, 39.99, 5, 3)
]
orders_insert_query = "INSERT INTO Orders (CustomerID, Totalprice,Quantity ,MenuID) VALUES (%s, %s, %s,%s)"
cursor.executemany(orders_insert_query, orders_data)

# Commit the changes
connection2.commit()

## Creating and Inserting Data into Bookings Table

This code defines SQL commands to create and insert data into the "Bookings" table within the "TheRestaurant" database.

- **Create Bookings Table**:
  - Defines the structure of the "Bookings" table with columns for BookingID, BookingDate, TableNumber, and CustomerID.

- **Insert Bookings Data**:
  - Inserts booking records with booking dates, table numbers, and corresponding customer IDs.

After executing these commands, the changes are committed to the database.

In [ ]:

# Define SQL commands to create the Bookings table
create_bookings_table_query = """
CREATE TABLE Bookings (
    BookingID  INT AUTO_INCREMENT PRIMARY KEY,
    BookingDate DATE,
    TableNumber INT,
    CustomerID INT
)
"""

# Define SQL command to insert data into the Bookings table
insert_bookings_data_query = """
INSERT INTO Bookings (BookingID, BookingDate, TableNumber, CustomerID)
VALUES
(1, '2022-10-10', 5, 1),
(2, '2022-11-12', 3, 3),
(3, '2022-10-11', 2, 2),
(4, '2022-10-13', 2, 1)
"""

# Execute SQL commands to create the Bookings table and insert data
cursor.execute(create_bookings_table_query)
cursor.execute(insert_bookings_data_query)

# Commit the changes
connection2.commit()

## Retrieving Orders Data

This code executes an SQL query to select all rows from the "Orders" table in the "TheRestaurant" database. It then fetches and prints all rows from the result set.

- **SQL Query**:
  - Selects all columns from the "Orders" table.

- **Execution**:
  - Executes the SQL query using the cursor.

- **Fetching Results**:
  - Fetches all rows from the result set.

- **Printing Results**:
  - Prints each order record retrieved from the database.

In [ ]:
select_orders_query = "SELECT * FROM Orders"

# Execute the SQL query
cursor.execute(select_orders_query)

# Fetch all rows from the result set
orders = cursor.fetchall()

# Print the results
for order in orders:
    print(order)

(1, 1, Decimal('23.99'), 2, 1)
(2, 2, Decimal('35.99'), 3, 2)
(3, 3, Decimal('45.99'), 4, 3)
(4, 4, Decimal('27.99'), 2, 4)
(5, 5, Decimal('39.99'), 3, 5)

## Creating OrdersView View

This code creates a view named "OrdersView" in the "TheRestaurant" database.

- **View Definition**:
  - Defines a view that selects specific columns (OrderID, Quantity, Totalprice) from the "Orders" table.
  - Includes a filter condition to select only rows where the quantity is greater than 2.

After executing the command, the changes are committed to the database.

In [ ]:
create_orders_view_query = """
CREATE VIEW OrdersView AS
SELECT OrderID, Quantity, Totalprice
FROM Orders
WHERE Quantity > 2
"""
cursor.execute(create_orders_view_query)
connection2.commit()

## Retrieving Data from OrdersView

This code executes an SQL query to select all rows from the "OrdersView" view in the "TheRestaurant" database. It then fetches and prints all rows from the result set.

- **SQL Query**:
  - Selects all columns from the "OrdersView" view.

- **Execution**:
  - Executes the SQL query using the cursor.

- **Fetching Results**:
  - Fetches all rows from the result set.

- **Printing Results**:
  - Prints each record retrieved from the view.

In [ ]:
select_view_query = "Select * from OrdersView;"

# Execute the SQL query
cursor.execute(select_view_query)

# Fetch all rows from the result set
orders = cursor.fetchall()

# Print the results
for order in orders:
    print(order)

(3, 3, Decimal('45.99'))
(4, 4, Decimal('27.99'))
(5, 5, Decimal('39.99'))

## Retrieving Data with Joins

This SQL query selects specific information from multiple tables by performing joins. It retrieves details about customers, orders, menus, and menu items, focusing on orders with a total price greater than $29.

- **Query Details**:
  - Joins the "Orders", "Customers", "Menus", and "MenuItems" tables.
  - Selects columns for CustomerID, Fullname, OrderID, Totalprice (as Cost), MenuName, CourseName (from MenuItems), and StarterName (from MenuItems).
  - Includes a condition to filter orders with a total price greater than $29.
  - Orders the results by total price.

After executing the query, the results are fetched and printed.

In [ ]:
join_select = """
SELECT
    c.CustomerID,
    c.Fullname,
    o.OrderID,
    o.Totalprice AS Cost,
    m.MenuName,
    mi.ItemName AS CourseName,
    mi2.ItemName AS StarterName
FROM
    Orders o
JOIN
    Customers c ON o.CustomerID = c.CustomerID
JOIN
    Menus m ON o.MenuID = m.MenuID
JOIN
    MenuItems mi ON m.MenuID = mi.MenuID
JOIN
    MenuItems mi2 ON m.MenuID = mi2.MenuID
WHERE
    o.Totalprice > 29
ORDER BY
    o.Totalprice;
"""

# Execute the SQL query
cursor.execute(join_select)

# Fetch all rows from the result set
join_results = cursor.fetchall()

# Print the results
for row in join_results:
    print(row)

(2, 'Jane Smith', 2, Decimal('35.99'), 'Menu 3', 'Item 5', 'Item 5')
(2, 'Jane Smith', 2, Decimal('35.99'), 'Menu 3', 'Item 5', 'Item 6')
(2, 'Jane Smith', 2, Decimal('35.99'), 'Menu 3', 'Item 6', 'Item 5')
(2, 'Jane Smith', 2, Decimal('35.99'), 'Menu 3', 'Item 6', 'Item 6')
(5, 'Daniel Williams', 5, Decimal('39.99'), 'Menu 3', 'Item 5', 'Item 5')
(5, 'Daniel Williams', 5, Decimal('39.99'), 'Menu 3', 'Item 5', 'Item 6')
(5, 'Daniel Williams', 5, Decimal('39.99'), 'Menu 3', 'Item 6', 'Item 5')
(5, 'Daniel Williams', 5, Decimal('39.99'), 'Menu 3', 'Item 6', 'Item 6')
(3, 'Michael Johnson', 3, Decimal('45.99'), 'Menu 4', 'Item 7', 'Item 7')
(3, 'Michael Johnson', 3, Decimal('45.99'), 'Menu 4', 'Item 7', 'Item 8')
(3, 'Michael Johnson', 3, Decimal('45.99'), 'Menu 4', 'Item 8', 'Item 7')
(3, 'Michael Johnson', 3, Decimal('45.99'), 'Menu 4', 'Item 8', 'Item 8')

## Retrieving Menu Items

This SQL query selects menu item names from the "MenuItems" table based on certain criteria.

- **Query Details**:
  - Selects the "ItemName" column from the "MenuItems" table.
  - Uses a subquery to filter menu items by checking if their "MenuItemID" is present in the set of "MenuID" values from orders where the quantity is greater than 2.

After executing the query, the results are fetched and printed, displaying the menu item names that meet the specified conditions.

In [ ]:
sql_query = """
SELECT
    mi.ItemName
FROM
    MenuItems mi
WHERE
    mi.MenuItemID IN (
        SELECT
            o.MenuID
        FROM
            Orders o
        WHERE
            o.Quantity > 2
    );
"""

# Execute the SQL query
cursor.execute(sql_query)

# Fetch all rows from the result set
results = cursor.fetchall()

# Print the menu items
for row in results:
    print(row[0])

Item 4
Item 2
Item 3

## Creating Stored Procedures

This code creates two stored procedures in the "TheRestaurant" database.

1. **GetMaxQuantity Procedure**:
   - Defines a procedure named "GetMaxQuantity" that retrieves the maximum quantity ordered from the "Orders" table.

2. **GetOrderDetail Procedure**:
   - Defines a procedure named "GetOrderDetail" that takes a customer ID as input.
   - Prepares a dynamic SQL statement to select order details for the given customer ID.
   - Executes the prepared statement using the provided customer ID.
   - Deallocates the prepared statement after execution.

After executing each SQL statement to create the stored procedures, the changes are committed to the database.

## Creating Stored Procedures

This code creates two stored procedures in the "TheRestaurant" database.

1. **GetMaxQuantity Procedure**:
   - Retrieves the maximum quantity ordered from the "Orders" table.

2. **GetOrderDetail Procedure**:
   - Retrieves order details for a given customer ID.

Both procedures are defined with specific functionalities using SQL commands. After execution, the changes are committed to the database.

In [ ]:
sql_statements = [
    """
    CREATE PROCEDURE GetMaxQuantity()
    BEGIN
        SELECT MAX(Quantity) AS MaxOrderedQuantity
        FROM Orders;
    END
    """,
    """
    CREATE PROCEDURE GetOrderDetail(IN CustomerID INT)
    BEGIN
        PREPARE stmt FROM
        'SELECT OrderID, Quantity, Totalprice
        FROM Orders
        WHERE CustomerID = ?';

        SET @customer_id = CustomerID;
        EXECUTE stmt USING @customer_id;
        DEALLOCATE PREPARE stmt;
    END
    """
]

# Execute each SQL statement to create the stored procedures
for sql_statement in sql_statements:
    cursor.execute(sql_statement)

# Commit the transaction
connection2.commit()

## Calling Stored Procedures

This code calls two stored procedures in the "TheRestaurant" database and fetches the results.

1. **GetMaxQuantity Procedure**:
   - Calls the "GetMaxQuantity" stored procedure.
   - Fetches the result, which represents the maximum ordered quantity.
   - Prints the maximum ordered quantity.

2. **GetOrderDetail Procedure**:
   - Calls the "GetOrderDetail" stored procedure with a specific customer ID as input.
   - Fetches the result, which represents order details for the given customer ID.
   - Prints the order details retrieved from the stored procedure.

The code demonstrates the execution and retrieval of results from stored procedures.

In [ ]:
# Call the GetMaxQuantity stored procedure
cursor.callproc("GetMaxQuantity")

# Fetch the result from the stored procedure
for result in cursor.stored_results():
    max_quantity_result = result.fetchall()
    print("Maximum Ordered Quantity:", max_quantity_result[0][0])

# Execute the GetOrderDetail stored procedure
customer_id = 1
cursor.callproc("GetOrderDetail", [customer_id])

# Fetch the result from the stored procedure
for result in cursor.stored_results():
    order_detail_result = result.fetchall()
    for order in order_detail_result:
        print(order)

Maximum Ordered Quantity: 5
(1, 1, Decimal('23.99'))

## Creating CancelOrder Stored Procedure

This code defines and creates a stored procedure named "CancelOrder" in the "TheRestaurant" database.

- **Procedure Details**:
  - Takes an order ID as input.
  - Deletes the order from the "Orders" table based on the provided order ID.

After executing the SQL statement to create the stored procedure, the changes are committed to the database.

In [ ]:
# Define the SQL statement for creating the stored procedure
cancel_order_procedure = """
CREATE PROCEDURE CancelOrder(IN order_id INT)
BEGIN
    DELETE FROM Orders WHERE OrderID = order_id;
END
"""

# Execute the SQL statement to create the stored procedure
cursor.execute(cancel_order_procedure)

# Commit the transaction
connection2.commit()

## Canceling an Order

This code cancels an order by calling the "CancelOrder" stored procedure with a specified order ID.

- **Order ID Specification**:
  - Specifies the order ID of the order to be canceled (e.g., `order_id = 1`).

- **Calling the Procedure**:
  - Defines an SQL statement to call the "CancelOrder" procedure with the specified order ID.
  - Executes the SQL statement to call the procedure, passing the order ID as a parameter.

- **Committing the Transaction**:
  - Commits the transaction to make the cancellation permanent.

Finally, it prints a confirmation message indicating the order ID that has been canceled.

In [ ]:
# Define the order_id for the order you want to cancel
order_id = 1  # Example: specify the order_id here

# Define the SQL statement to call the CancelOrder procedure
cancel_order_call = """
CALL CancelOrder(%s)
"""

# Execute the SQL statement to call the CancelOrder procedure
cursor.execute(cancel_order_call, (order_id,))

# Commit the transaction
connection2.commit()
print("order ID canceled:", order_id)

order ID canceled: 1

## Creating CheckBooking Stored Procedure

This code creates a stored procedure named "CheckBooking" in the "TheRestaurant" database.

- **Procedure Details**:
  - Takes booking date and table number as input parameters.
  - Checks if the specified table is booked on the given date.
  - Returns the status of the table (either 'Booked' or 'Available').

After executing the SQL statement to create the stored procedure, the changes are committed to the database.

In [ ]:
CheckBooking="""
CREATE PROCEDURE CheckBooking(IN booking_date DATE, IN table_number INT)
BEGIN
    DECLARE table_status VARCHAR(10);

    -- Check if the table is already booked on the specified date
    SELECT CASE
        WHEN EXISTS (
            SELECT * FROM Bookings
            WHERE BookingDate = booking_date AND TableNumber = table_number
        ) THEN 'Booked'
        ELSE 'Available'
    END INTO table_status;

    -- Return the status of the table
    SELECT table_status AS TableStatus;
END """

# Execute each SQL statement to create the stored procedures
cursor.execute(CheckBooking)

# Commit the transaction
connection2.commit()

## Checking Booking Status

This code calls the "CheckBooking" stored procedure with provided parameters to check the status of a table.

- **Procedure Call**:
  - Calls the "CheckBooking" stored procedure with a booking date of '2022-11-12' and table number 3 as input parameters.

- **Fetching Result**:
  - Fetches the result from the stored procedure call.
  - Prints the table status retrieved from the stored procedure.

This process checks whether the specified table is booked on the given date and prints its status.

In [ ]:
# Call the CheckBooking procedure with the provided parameters
cursor.callproc('CheckBooking', ('2022-11-12', 3))

# Fetch the result
for result in cursor.stored_results():
    for row in result.fetchall():
        print("Table status:", row[0])

Table status: Booked

## Adding Valid Booking

This code creates a stored procedure named "AddValidBooking6" in the "TheRestaurant" database.

- **Procedure Details**:
  - Takes booking date, table number, and customer ID as input parameters.
  - Checks if the specified table is already booked on the given date.
  - If the table is available, inserts the new booking record into the "Bookings" table.
  - Uses transactions to ensure data integrity:
    - Starts a transaction.
    - Rolls back the transaction if the table is already booked.
    - Commits the transaction after successfully adding the booking.

After executing the SQL statement to create the stored procedure, the changes are committed to the database.

In [ ]:
AddValidBooking="""CREATE PROCEDURE AddValidBooking6(IN booking_date DATE, IN table_number INT, IN customer_id INT)
BEGIN
    DECLARE booking_exists INT DEFAULT 0;

    -- Start a transaction
    START TRANSACTION;

    -- Check if the table is already booked on the given date
    SELECT COUNT(*) INTO booking_exists
    FROM Bookings
    WHERE BookingDate = booking_date AND TableNumber = table_number;

    IF booking_exists > 0 THEN
        -- If the table is already booked, rollback the transaction and exit
        ROLLBACK;
        SELECT 'Table is already booked for the given date.' AS Message;
    ELSE
        -- If the table is available, insert the new booking record
        INSERT INTO Bookings (BookingDate, TableNumber, CustomerID)
        VALUES (booking_date, table_number, customer_id);

        -- Commit the transaction
        COMMIT;
        SELECT 'Booking successfully added.' AS Message;
    END IF;
END;


"""

# Execute each SQL statement to create the stored procedures
cursor.execute(AddValidBooking)

# Commit the transaction
connection2.commit()

## Adding a Valid Booking

This code calls the "AddValidBooking6" stored procedure to add a booking for a specified date, table number, and customer ID.

- **Procedure Call**:
  - Calls the "AddValidBooking6" stored procedure with a booking date of '2022-12-18', table number 9, and customer ID 8 as input parameters.

- **Fetching Result**:
  - Fetches the result from the stored procedure call.
  - Prints the message returned by the stored procedure.

This process adds a booking if the specified table is available for the given date and customer.

In [ ]:
cursor.callproc('AddValidBooking6', ('2022-12-18', 9, 8))

# Fetch the result
for result in cursor.stored_results():
    for row in result.fetchall():
        print(row)

('Booking successfully added.',)